/*General*/
body{
    background: linear-gradient(
        rgba(255, 255, 255, 0.68), 
        rgba(255, 255, 255, 0.85)
      ), url("../images/backgrounds/studio-1003635_1920.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.displaynone{
    display:none;
}

#playerContain{
    display:block;
}

.glyphicon { 
    cursor: pointer; 
}

.bold{
    font-weight: 600;
}

main {
    margin-top: 52px;
    padding-top: 80px;
}



/*Modals*/
a.close-modal {
    margin: 25px;
}


/*For validation purposes*/
.redBorder{
    border: 1px solid red;
}




/*Header CSS*/
#navleft{
    margin-right:15px;
}

#searchform{
    border: 1px solid #959595;
    margin-right: 20px;
    padding:0px;
    background-color: black; 
    
}


#searchform input, #searchform button{
    background: transparent;
    border:none;
    color:white;
}

#searchlogoform{
    color: white;
}


#addPlaylistNav{
    margin-top: 10px;
}

#butRight{

        float: right;
        margin-right: 10%;
}




/*PLAYER CSS*/

/* #theplayer{
   border: 1px solid blue;
 } */

/*Left side of player*/
#playerincontrols{
    background: linear-gradient(
        rgba(255, 255, 255, 0.68), 
        rgba(255, 255, 255, 0.85)
      ), url("../images/backgrounds/piano-1655558_640.jpg");
    background-repeat: no-repeat;

    padding-top: 25px;
    padding-bottom: 20px;
    border-radius: 150px;
    background-size: cover;
    

}

#playerList {
    text-align:left!important;
}

/*Right side of player*/
#playeroutcontrols{
    background-color: white;
    padding-top: 50px;
}

#playerincontrols{
    text-align: center;
}

/*Glyphicons of player*/
#playeroutcontrols i, #rotatingImgContainer i{
    background-color:#B8B8B8;
    padding: 10px;
    border-radius: 22px; 
    font-size: 20px;
    margin-bottom: 15px;
}

#playeroutcontrols i:hover, #rotatingImgContainer i:hover{
    background-color:#6D6D7A;


}

#rotatingImgContainer{

/*     height:150px!important;
    width:150px!important; */
    height:200px;
    width:200px;
    border-radius: 100px;
    background-image: url("https://www.apachefriends.org/images/stack-icons-fbb40c74.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

i#playFullList{
    width:40px;
    height:40px;
    margin: auto;
}

/*Song Playing*/
#now {

    text-align: left;
   
}

#now span{
    font-size: 17px;
    margin: 10px;
}





/*Circles*/

.isHidden{
    display:none;
}

.circle {
    padding-top: 35px;
    display:inline-block;
    height:300px;
    margin: 20px;
}

.maincirclecontent{
    padding: 20px;
    height:160px;
    width:160px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 140px;
    opacity: 0.85;
}

.maincirclecontent:hover + .isHidden{
    display:block;
}


.circlecontrol{
    text-align: center;
}

.circlecontrol i {
    background-color: rgb(51, 51, 51);
    padding: 5px;
    border-radius: 30px;
    color: rgb(177, 177, 177);
}

.circlecontrol i:hover {
    background-color:#6D6D7A;
}

.circlecontrol.play i{
    font-size: 21px;
    text-align:center;
}

#circletiteContainer{
    text-align: center;
}

.circletitle {
    font-size: 16px;
    margin:auto;
}

#playlisticon{
    margin-top: 10px;
}

.currentCircle{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;        
    
    border:20px double #afb3b4;
    -webkit-box-shadow:0px 0px 20px 10px #9c9090 ;
    -moz-box-shadow:0px 0px 20px 10px #9c9090 ;
    box-shadow:0px 0px 20px 10px #9c9090 ;

}


/*First Add Songs Modal*/
#imageView{
    width: 150px!important;
    height: 150px!important;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}


@keyframes spin {
    from {
        transform: rotate(0deg);
        transform-origin: center;
    }
    to { 
        transform: rotate(360deg);
        transform-origin: center;
    }
}



.spinMode {
    display: flex;
    animation-name: spin; 
    animation-duration: 6s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
   
}

.startHidden{
    display:none;
}

i#playFullList {
    margin-top: 80px;
}




